html, body {
    height: 100%;  /* Растягиваем на всю высоту окна,
                   т.к. эти теги по-умолчанию растягиваются по содержимому */
    margin: 0;

}

a {
    text-decoration: none;
}

p {
    margin-top: 0;
}

.wrapper {    
    height: inherit;
    max-width: 1110px;
    margin: 0 auto;    
}

.header {
    background: #007765;
    height: 84px;            
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.logo {
    /*padding-top: 20px;*/
    padding-left: 10px;
    display: flex;   
}

.logo__text {    
    margin-left: 10px;
    padding-right: 20px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    line-height: 34px;
    color: #FFFFFF;
}

.navigation {
    width: 420px;
    display: flex;
    justify-content: space-between;
}

.navigation:last-child {
    padding-right: 10px;
}

.navigation__link {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    display: block;        
}

.greetings {
    background: url(./img/image-green.png) center center / cover no-repeat;
    min-height: 403px;           
}

.greetings__text {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    padding: 160px 55px 160px 55px;
}

.problem {
    background: #EEEEEE;
    min-height: 719px;    
}

.problem__title {
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 75px;    
    text-align: center;
    padding: 48px 55px 0 55px;
    color: #007765;
}

.problem__content {
    max-width: 1110px;
    margin: 0 auto;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    padding: 16px 55px 92px 55px;
}

.quote {
    background: url(./img/image-blue.png) center center / cover no-repeat;
    min-height: 483px;
}

.quote__text {
    max-width: 893px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 48px;
    font-style: italic;
    font-weight: 500;
    line-height: 56px;    
    text-align: center;
    padding: 128px 55px;
    margin: 0 auto;
}

.introdusing {
    background: #FFFFFF;
    min-height: 604px;
}

.introdusing__title {
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 75px;    
    text-align: center;
    padding: 48px 55px 16px 55px;
    color: #007765;
}

.logo-and-text {
    margin: 0 auto;
    display: flex;
}

.introdusing__logo {
    margin-left: 55px;
    margin-right: 48px;    
}

.introdusing__text1 {
    overflow: hidden;
    max-width: 930px;    
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    padding-right: 55px;    
}

.introdusing__text2 {
    max-width: 1110px;
    margin: 0 auto;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    padding: 16px 55px 92px 55px;
}

.team {
    background: #EEEEEE;
    min-height: 845px;
}

.team__title {
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 75px;    
    text-align: center;
    padding: 48px 55px 56px 55px;
    color: #007765;
}

.team__content {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.hero {
    flex-basis: 30%;
    padding: 0 10px;
}

.hero__foto {
    margin-bottom: 12px;
    text-align: center;
}

.hero__name {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    color: #007765;
    text-align: center;    
}

.hero__specialisation {
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
    color: #000000;
    margin-bottom: 82px;
    text-align: center;
}

.footer {
    min-height: 176px;
    background: #333333;
}

.footer__text {
    max-width: 940px;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 48px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #FFFFFF;    
    text-align: center;
}
